main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  section {
    width: 32.9vw;
    height: 45.4vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      font-size: 2.25rem;
      font-weight: 700;
    }

    button {
      width: 19.1vw;
      height: 7.8vh;
      background-color: #fca60f;
      color: #fff;
      border: none;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
