header {
  border: solid 2px;

  ul {
    width: 30vw;

    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  body {
    background-color: green;
  }
}

@media (min-width: 900px) {
  body {
    color: yellow;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  li {
    font-size: 3rem;
  }
}

body {
  header {
    display: flex;

    @media (max-width: 800px) {
      background-color: aquamarine;
      justify-content: center;
      align-items: center;
      height: 15vh;
    }

    ul {
      @media (max-width: 800px) {
        width: 50vw;
        border: solid 2px red;
      }
    }
  }
}
