Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;

  nav {
    border: solid 2px #00f;
    width: 30%;

    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}
